/*
    C4 TEST APPLICATION
    Standard CSS Elements
*/

body
{
    background-color: #000000;
    color: #ffffff;
    font-family: "Arial";
    font-size: 16px;

}

h1
{
    color: #990000;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #ff0000;
}

h2
{
    font-size: 20px;
    font-weight: bold;
}

form
{
    background-color: #bbbbbb;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    margin: 1em 0em 1em 1em;
    width: 50%;
}

label
{
    color: #000000;
    margin: 1em 0em 1em 1em;
}

.radio-container
{
    border: 1px solid #ff0000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1em 0em 1em 2em;
    padding: 1em;
    width: 45%;
}

[type="radio"]
{
    height: 0;
    opacity: 0;
    width: 0;
}

[type="radio"] + img
{
    cursor: pointer;
}

[type="radio"]:checked + img
{
    outline: 2px solid #ff0000;
}

input[type="text"], select[type="text"]
{
    border: 1px solid #ff0000;
    margin: 1em 0em 1em 2em;
    padding: 1em;
    width: 25%;
}

input[type="submit"]
{
    border: 1px solid #ff0000;
    color: #ffffff;
    font-weight: bold;
    padding: 1em;
    background-color: #cccccc;
    margin: 1em 0em 1em 2em;
    width: 10%;
}

.result
{
    font-weight: bold;
    margin-top: 40px;
}
