<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Stylesheet -->
        <!-- Uses the url_for() function to look for /static/css/css-main.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/css-main.css') }}">
        <title>Test</title>
    </head>
    <body>
        <div class="header" name="header">
            <h1>Channel 4 Test App</h1>
            <h3>Disclaimer: I have no idea what I'm doing</h3>
        </div>
        <div class="sidenav" name="nav">
            <a href="/search" target="main">Search</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#" style="float:bottom">Link 4</a>
        </div>
        <iframe class="main" name="main"></iframe>
    </body>
</html>